@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,300&display=swap');

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: var(--backgroundBody);
  max-width: 580px ;
  
}
li, a, h2  {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
}
:root {
  --primaryColor: #3F51B5;
  --colorWhite : #FFFFFf;
  --backgroundBody: #F9F9FC;
  --textNavbar: #5a5b63;
}



@media (prefers-color-scheme: dark) {

  
}

